@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #333333;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.loading {
  height: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
